'context-menu':
  'atom-text-editor[data-grammar="source julia"]': [
    {label: 'Run block', command: 'julia-client:run-block'}
    {label: 'Go to defintion', command: 'julia-client:goto-symbol'}
    {label: 'Toggle documentation', command: 'julia-client:toggle-documentation'}
    {type: 'separator'}
  ]
