# Keybindings require three things to be fully defined: A selector that is
# matched against the focused element, the keystroke and the command to
# execute.
#
# Below is a basic keybinding which registers on all platforms by applying to
# the root workspace element.

# For more detailed documentation see
# https://atom.io/docs/latest/behind-atom-keymaps-in-depth
'atom-text-editor[data-grammar="source julia"]:not([mini])':
  'cmd-enter': 'julia-client:evaluate'
  'cmd-shift-enter': 'julia-client:evaluate-all'
