# It's best not to override default Atom keybindings if possible, and then only
# in julia-scoped places (e.g. Julia-syntax buffer, console)

# Any global commands should either be non-default or, ideally, prefixed with
# `C-J`.

'.platform-darwin .item-views > atom-text-editor[data-grammar="source julia"]':
  'cmd-enter': 'julia-client:run-block'
  'shift-enter': 'julia-client:run-and-move'
  'cmd-shift-enter': 'julia-client:run-file'
  'alt-enter': 'julia-client:run-cell'
  'alt-shift-enter': 'julia-client:run-cell-and-move'
  'alt-down': 'julia-client:next-cell'
  'alt-up': 'julia-client:prev-cell'
  'cmd-j cmd-d': 'julia-client:toggle-documentation'
  'cmd-shift-a': 'julia:select-block'
  'ctrl-x': 'julia-debug:toggle-breakpoint'
  'cmd-j cmd-g': 'julia-client:goto-symbol'

'.platform-darwin .item-views > atom-text-editor[data-grammar="source julia"],
 .platform-darwin .julia-console.julia,
 .platform-darwin .julia-console.julia atom-text-editor':
  'ctrl-c': 'julia-client:interrupt-julia'
  'cmd-j cmd-m': 'julia-client:set-working-module'

'.platform-darwin .item-views > atom-text-editor[data-grammar="source julia"].debug,
 .platform-darwin .julia-console.julia.debug,
 .platform-darwin .julia-console.julia.debug atom-text-editor':
  'ctrl-l': 'julia-debug:step-to-next-line'
  'ctrl-m': 'julia-debug:step-to-next-expression'
  'ctrl-f': 'julia-debug:finish-function'
  'ctrl-s': 'julia-debug:step-into-function'

'.platform-darwin atom-workspace':
  'cmd-j cmd-r': 'julia-client:open-a-repl'
  'cmd-j cmd-s': 'julia-client:start-julia'
  'cmd-j cmd-o': 'julia-client:open-console'
  'cmd-j cmd-p': 'julia-client:open-plot-pane'
  'cmd-j cmd-c': 'julia-client:clear-console'
  'cmd-j cmd-k': 'julia-client:kill-julia'
  'cmd-j cmd-,': 'julia-client:settings'

'.platform-win32 .item-views > atom-text-editor[data-grammar="source julia"],
 .platform-linux .item-views > atom-text-editor[data-grammar="source julia"]':
  'ctrl-enter': 'julia-client:run-block'
  'shift-enter': 'julia-client:run-and-move'
  'ctrl-shift-enter': 'julia-client:run-file'
  'alt-enter': 'julia-client:run-cell'
  'alt-shift-enter': 'julia-client:run-cell-and-move'
  'alt-down': 'julia-client:next-cell'
  'alt-up': 'julia-client:prev-cell'
  'ctrl-j ctrl-m': 'julia-client:set-working-module'
  'ctrl-shift-c': 'julia-client:interrupt-julia'
  'ctrl-j ctrl-d': 'julia-client:toggle-documentation'
  'alt-x': 'julia-debug:toggle-breakpoint'
  'ctrl-j ctrl-g': 'julia-client:goto-symbol'

'.platform-win32 .julia-console.julia,
 .platform-win32 .julia-console.julia atom-text-editor,
 .platform-linux .julia-console.julia,
 .platform-linux .julia-console.julia atom-text-editor':
  'ctrl-shift-c': 'julia-client:interrupt-julia'
  'ctrl-j ctrl-m': 'julia-client:set-working-module'

'.platform-win32 atom-workspace,
 .platform-linux atom-workspace':
  'ctrl-j ctrl-r': 'julia-client:open-a-repl'
  'ctrl-j ctrl-s': 'julia-client:start-julia'
  'ctrl-j ctrl-o': 'julia-client:open-console'
  'ctrl-j ctrl-p': 'julia-client:open-plot-pane'
  'ctrl-j ctrl-c': 'julia-client:clear-console'
  'ctrl-j ctrl-k': 'julia-client:kill-julia'
  'ctrl-j ctrl-,': 'julia-client:settings'
