// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.julia-client {
  .fade {
    color: @text-color-subtle;
  }
}

atom-text-editor::shadow {
  div.julia-client.loading {
    position: absolute;
    right: 10px;
    bottom: 10px;
    z-index: 1;
  }

  div.block-notify .region {
    background: @background-color-info;
    opacity: 0.2;
  }
  div.block-notify.hidden .region {
    opacity: 0;
    transition: opacity 0.3s;
  }
}
